<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
</head>
<body>
    <h1>Messages</h1>
    <table border="1">
        <tr>
            <th>Message ID</th>
            <th>User ID</th>
            <th>Username</th>
            <th>Channel ID</th>
            <th>Content</th>
            <th>Time</th>
        </tr>
        {% for message in messages %}
        <tr>
            <td>{{ message['messageId'] }}</td>
            <td>{{ message['userId'] }}</td>
            <td>{{ message['username'] }}</td>
            <td>{{ message['channelId'] }}</td>
            <td>{{ message['content'] }}</td>
            <td>{{ message['time'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
